:root {
    --color-basic: #ffffff;
    --color-hover: #2196f3;
    --color-taxt-basic: #757575;
    --color-taxt-header: #212121;
    --color-background: #2f303a;
    --color-btn-focus: #188ce8;
    --color-background-team: #f5f4fa;
    --color-footer-link: rgba(255, 255, 255, 0.6);
    --color-icon: #afb1b8;
    --color-icon-close: #000000;
    --cubic-bezier-basic: cubic-bezier(0.4, 0, 0.2, 1);
    --timing-function-basic: 250ms;
}